<div class="container" align="center">
  <div class="thankyou-body">
    Thank you for your contribution! <br>
    We will use all the funds you raised for treatments of patients. <br> <br>
    <div class="thankyou-coname">Indian Cancer Society Cancer Cure Fund</div>
    <br><br>
  </div>
  <%= link_to 'Home', root_path %>
</div>

<style>
  .thankyou-body {
    margin-top: 40px;
    font-size: 20px;
  }
  .thankyou-coname {
    font-size: 16px;
  }
</style>