<!--Footer-->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4" style="background-color: #3D4452;color: white;">

    <!--Footer Links-->
    <div class="container text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">About this site</h5>
                <p>
                    This site is a social crowdfunding made by The Indian Cancer Society - Cancer Cure Fund. This fund is aimed at poor patients who are unable to afford the initial costs of diagnosis and/or need help in covering certain part of their treatment costs.
                </p>
            </div>
            <!--/.First column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Second column-->
            <div class="col-md-6 mx-auto">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">For more details</h5>
                <div class="text-center">
                    <%= link_to image_tag('indian-cancer-society-logo.png'), 'http://www.indiancancersociety.org/default.aspx', class: 'big_logo' %>
                </div>
            </div>
            <!--/.Second column-->

            <hr class="clearfix w-100 d-md-none">

        </div>
    </div>

    <hr>
        <div class="text-center">
            74, Jerbai Wadia Road, Bhoiwada, Parel, Mumbai - 400 012 (INDIA)<br />
            <b>Tel:</b> +91-22-2413 9445 / 51 &nbsp;&nbsp;&nbsp; <b>E-mail:</b>
            <a href="mailto:info@indiancancersociety.org">info@indiancancersociety.org</a>
        </div>
    <hr>
        <div class="text-center">
            © Copyright. Indian Cancer Society. All rights reserved.
        </div>
<!--     <div class="footer-copyright py-3 text-center">
        
    </div> -->

</footer>
